# Heavy datasets and exports
/datasets/dataset.csv
/datasets/dataset.parquet
*.pkl
metrics.json

# Python virtuals environnements
.venv/

# Python cache
__pycache__/

# Node modules
node_modules/

# Next
.next/